body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/* top banner style */

.banner-contain {
    display: flex;
    background-color: black;
    color: white;
    border: 2px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 60px;
    gap: 30px;
    padding-left: 30px;
    padding-right: 20px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 70px;
    color: white;
    text-align: center;
}

h3 {
    color: black;
}

hr {
    width: 80%;
    color: rgb(197, 197, 197);
}

h4 {
    color: black
}

h6 {
    color: black;
}

p {
    font-size: small;
}

.banner-contain img {
    width: 400px;
    height: 500px;
}

.play-button {
    background-color: red;
    color: white;
    padding: 7px;
    border-radius: 5px;
    gap: 10px;
}

/* middle part of body */
.middle-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    color: white;
    border: 2px;
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 30px;
    gap: 30px;
    padding-left: 30px;
    padding-right: 20px;
}

/* mid part button field */
.one-three {
    width: 87%;
    height: 13%;
    text-align: center;
    background-color: black;
    border: 6px;
    border-radius: 10px;
    position: left;
}

.three-four {
    display: grid;
    idth: 87%;
    height: 13%;
    text-align: center;
    background-color: black;
    border: 6px;
    border-radius: 10px;
    position: left;
}

.flag-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px;
    gap: 20px;
}

.thumbnail {
    display: grid;
    border: 1px solid rgb(214, 214, 213);
    border-radius: 10px;
}

.margin-add {
    margin: 20px;
    border: 20px;
}

.button-size {
    width: 80%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: 6px;
    border: 1px;
    border-radius: 3px;
    padding: 8px;
}

.icon-add {
    display: flex;
    flex-direction: row;
    font-size: 100%;
    width: 35%;
    height: 35%;

}

.duration-massage {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    margin: 5px;
    gap: 2px;

}

.finish-line {
    height: 350px;
    background-color: black;
}

.footer-part {
    text-align: center;
}

.block-line {
    display: inline;
    color: aliceblue;
    margin: 20px;
}

/* Media Queries */
/* Mobile Devices */